@import url("https://raw.githack.com/Kylerh15/Serenity-Discord/test/Theme/Source/base.css");
@import url('https://raw.githack.com/codedotspectra/themes/master/mini-themes/statusSquared.css');
@import url('https://fonts.googleapis.com/css?family=Whitney');
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Material%20Embeds.css");
@import url("https://raw.githack.com/mrmaple240/betterdiscord-mini-themes/master/SeperateTextareaButtons.theme.css");
@import url(https://rawgit.com/diyachan/discordminimods/master/actual-thing/main.css);

:root {
--bgImage: url('https://cdn.discordapp.com/attachments/544195153506861056/552217704199749642/a9620396df0e63802087054fbffabe931ab4de15.png');
--HomeButtonImg: url('https://cdn.discordapp.com/attachments/544195153506861056/551915581243260933/Logo_Transparent.png');
--brightness: 0;
--customFont: 'Whitney';
--PrimaryColor01: #7289DA;
--PrimaryColorRGBA: rgba(114,137,218,.15);
--PrimaryColor02: #FFFFFF;
--links: #99AAB5;
--ChatTextColor: #ffffff;
--RoleTitleColor: #ffffff;
--UserPlayingTextColor: #ffffff;
--ChannelsSelectedTextColor: #ffffff;
--ChannelsDefaultTextColor: #969696;
--ChannelsDarkTextColor: #646464;
--NTBackgroundColor01: #3a3f4b;
--NTBackgroundColor02: #2b3039;
--NTBackgroundColor03: #282c34;
--NTBackgroundColor04: #21252c;
}
